.nav__button-mobile--wrapper {
	position: fixed;
	top: 20px;
	left: 20px;
	height: 50px;
	width: 50px;
	border-radius: 50%;

	background-color: #a6dac3;
}

.nav__button-mobile {
	border-radius: 20px;
	height: 3px;
	width: 50%;
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -100%);
	background-color: #f5e5c4;
	border: none;
	&::after,
	&::before {
		content: "";
		position: absolute;
		left: 0;
		height: 3px;
		width: 100%;
		background-color: #f5e5c4;
	}
	&::after {
		top: 8px;
	}
	&::before {
		bottom: 8px;
	}
}

.button--active-menu {
	transform: translate(-50%, -100%) rotate(180deg);
	background-color: transparent;
	left: 10px;
}

.navT {
	.icon {
		-webkit-transition: all 0.25s;
		position: absolute;
		width: 30px;
		height: 1px;
		left: 15px;
		top: 30px;
		background-color: white;

		&:before,
		&:after {
			-webkit-transition: all 0.25s;
			width: 30px;
			height: 1px;
			left: 0;
			background: white;
			position: absolute;
			content: "";
		}
		&:before {
			top: -10px;
		}
		&:after {
			top: 10px;
		}
	}
	&:hover {
		background: black;

		.icon {
			&:before {
				top: -12px;
			}
			&:after {
				top: 12px;
			}
		}
	}
	&.active {
		.icon {
			-webkit-transform: rotate(180deg);
			background-color: transparent;
			left: 10px;

			&:before,
			&:after {
				top: 0;
			}
			&:before {
				-webkit-transform: rotate(45deg);
			}
			&:after {
				-webkit-transform: rotate(-45deg);
			}
		}
	}
}
