.header__reload-img {
	width: 35px;
	height: 35px;
}
header {
	position: relative;
	z-index: 99;
}

.header__nav-hover:hover {
	background-color: rgba(18, 7, 15, 1) !important;
	transition: background-color 0.25s ease-in-out;
}

.vr-href {
	height: 1em;
	width: 2.5px;
	transform: skew(-25deg);
	background-color: rgba(18, 7, 15, 0.3);
}

.nav {
	opacity: 1;
	transition: ease 0.4s;
	width: 90%;
}

.nav--scrolled {
	opacity: 0.5;
	width: 60%;
}

.opactiy-nav {
	opacity: 1;
}
.nav {
	background-color: #a6dac3;
	top: 40px !important;
}

.nav__links {
	box-shadow: 0px 0px 10px -5px rgba(18, 7, 15, 0.5) inset;
	padding-left: 50px !important;
	padding-right: 50px !important;
	a {
		--bs-bg-opacity: 0.5;
	}
}
